.element.wrap {
    min-width: 420px;
    display: flex;
    flex-direction: column;
}

.main-info, .hidden-info {
    width: 100%;
    display: flex;
}

.main-info {
    justify-content: space-between;
}
