
<div class="element.wrap">
    <div class="main-info">
        <h4>{{element.phone}}</h4>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" (click)="onEdit($event)">Edit</button>
            <button type="button" class="btn btn-secondary" (click)="onDelete($event)">Delete</button>
        </div>
    </div>
    <div class="hidden-info">
        <p>
            <strong>{{ element.amount }}</strong>
            <em>{{ element.frequency }}</em>
            <em>{{ element.secret }}</em>
        </p>
    </div>
</div>
