
<div id="nav-trigger" [ngClass]="{'active': navIsActive}" (click)="onNavTrigger()">
		<div id='top'></div>
		<div id='middle'></div>
		<div id='bottom'></div>
</div>
<div id="menu" [ngClass]="{'active': navIsActive}">
    <div id="items">
        <div class="item"  (click)="onNavTrigger()"><a routerLink=''>Send</a></div>
        <div class="item"  (click)="onNavTrigger()"><a routerLink='/facts'>Facts</a></div>
        <div class="item"  (click)="onNavTrigger()"><a routerLink='/view'>Responses</a></div>
        <div class="item"><a href="email:hi@pawsboss.com">Contact Us</a></div>
        <div class="item"  (click)="onNavTrigger()"><a routerLink='/privacy-policy'>Privacy Policy</a></div>
        <div class="item"  (click)="onNavTrigger()"><a routerLink='/terms-of-use'>Terms of Services</a></div>
        <div class="item social-media">
            <a type="button" class="btn-floating btn-small btn-fb waves-light" ripple-radius><i class="fa fa-instagram"></i></a>
            <a type="button" class="btn-floating btn-small btn-fb waves-light" ripple-radius><i class="fa fa-twitter"></i></a>
            <a type="button" class="btn-floating btn-small btn-fb waves-light" ripple-radius><i class="fa fa-facebook"></i></a>
        </div>
    </div>
</div>
    <!-- <a class="logo" routerLink="/"><img src="../assets/img/logo1.png" alt="Meow Facts Logo"></a> -->





  <!-- MAIN CONTENT -->
  <main>
      <router-outlet></router-outlet>
  </main>
  <!-- End Main Content -->
