<div class="row">
    <div class="col">
        <div class="our-plans">

            <div class="card" *ngFor="let plan of meowPlans">

                <!--Card image-->
                <div class="view hm-white-slight waves-light" ripple-radius>
                    <img src="{{plan.img}}" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                    <a><div class="mask"></div></a>
                </div>

                <!--Card content-->
                <div class="card-body">
                    <h4 class="card-title">{{ plan.amount }} Meows</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    <div class="morph-button morph-button-modal morph-button-fixed">
                        <button type="button" (click)="onPlanSelect(plan)" appMorphBtn>Sign Up</button>

                        <div class="morph-content">
                            <div>
                                <div class="hidden-content">
                                    <span class="icon icon-close" #triggerButton><i class="fa fa-times-circle-o"></i></span>
                                    <form [formGroup]="orderForm" (ngSubmit)="onAddToCart(triggerButton)">

                                        <h5>Plan Details</h5>

                                        <div class="form-group">
                                            <md-input-container color="orange">
                                                 <input mdInput formControlName="orderPhone" [textMask]="{mask: mask}" placeholder="Cell Phone" value="Sushi">
                                            </md-input-container>
                                        </div>

                                        <div class="form-group">
                                            <md-select placeholder="How Often?" formControlName="orderFrequency" >
                                                <md-option *ngFor="let time of times" [value]="time">{{ time }}</md-option>
                                            </md-select>
                                        </div>

                                        <div class="form-group">
                                            <md-input-container class="example-full-width">
                                                <input formControlName="orderSecret" mdInput #message maxlength="120" placeholder="Message">
                                                <md-hint align="start"><strong>Don't disclose personal info</strong> </md-hint>
                                                <md-hint align="end">{{message.value.length}} / 256</md-hint>
                                            </md-input-container>
                                        </div>
                                        <hr>
                                        <button class="btn btn-primary" type="submit" [disabled]="!orderForm.valid">Add To Cart</button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><!-- morph-button -->



                </div>
            </div>
        </div>
    </div>
</div>
